<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
      table, th, td {
        border: 1px solid #bcbcbc;
      }
      video { width: 100%; }
      .jb-text { position: absolute; top: 50%; width: 100%; }
      .jb-text p { margin-top: -24px; text-align: center; font-size: 48px; color: #ffffff; }
    </style>
    <title>실시간 화재 감지</title>
</head>
<body>
    <thead>
        <td style="text-align: center;font-size: 100px;">헤드라인</td>
    </thead>
<div class="container" style="width:700px; height:600px; position: fixed; left: 20px; top: 250px;">
    <h1 style="text-align: center; margin: 10px; padding: 10px;">실시간 탐지 영상</h1>
    <img src="{{ url_for('video_feed') }}" style="width:640px; height:480px;margin-left: 10px;">
</div>

<div class="table-title" style="width:400px; position: fixed; left: 750px; top: 250px; padding:10px; margin:10px;">
    <table class="table-fill">
        <h1 style="text-align: center; padding: 10px; ">실시간 탐지 데이터</h1>
        <thead>
            <tr>
            <th class="text-center" scop="col">DIVISION</th>
            <th class="text-center" scop="col">DATA</th>
            <th class="text-center" scop="col">GRAPH</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td class="text-center" scope="row" data-label="DIVISION">Tamperature</td>
            <td class="text-center" scope="row" data-label="DATA">디비에서 값 가져오기</td>
            <td class="button" scope="row" data-label="GRAPH" rowspan="2">
                <a href="http://20.194.30.39:3000/d/l2uY4yQ7z/mysql?orgId=1&refresh=5s" target="_blank">
                <button type="button" 
                class="btt btn-primary btn-lg" 
                id="load1" 
                data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>Processing Order">그래프로 보기
                </button>
                </a>
            </td>
            </tr>
            <tr>
            <td class="text-center" scope="row" data-label="DIVISION">Humidity</td>
            <td class="text-center" scope="row" data-label="DATA">디비에서 값 가져오기</td>
            </tr>

            <tr>
            <td class="text-center" scope="row" data-label="STATE">Dtection State</td>
            <td class="text-center" scope="row" data-label="DATE">디비에서 값 가져오기</td>
            </tr>

        </tbody>
    </table>
</div>
<div class="jb-box">
      <video muted autoplay loop>
        <source src="/Users/hwkim/fire_detect/templates/video/firefighter.mp4" type="video/mp4">
      </video>
</div>
</body>
</html>